
  /* :root {
        --secondary:#1f8ac0;
        --main:#104c91;
        --idk:#ffc09f;
        --try: black;
        } 
    */

/* defines colour scheme*/
:root {
    --secondary:#722620;
    --main:#f2bc94;
    --idk:#ffc09f;
    --try: black;
    }
    
    html,body {
      margin:0;
      padding:0;
      overflow-x:hidden; }
  
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        padding: 0;
    }

    /* describes header */

header {
    width: 100%;
    background: linear-gradient(90deg, #722620, #f2bc94);
    display:flex;
    height:70px;
    justify-content: space-between;
    color:var(--main);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  /* aligns h1 to left */
  
  h1 {
    text-align: left;
    margin-left: 1rem;
    margin-top:0.5rem;
    font-weight:100;
  }
 
  /* aligns links to right, flexbox and colour */
  
  ul {
    text-align: right;
    color: var(--secondary);
    font-weight: 100;
    display:flex;
    margin-top:0.9rem;
    
}

  /* defins links font size, puts it to left*/
  li {
    display: inline;
    font-size: 1.7rem;
    margin-left: 80px;
  }
  /*hover effect over links */

  li a:hover {
    color:(var(--main)); 
    text-decoration:underline; 
    cursor:pointer;
}

/* changes colour of links  removes underline */
li a {
  color: inherit;
  text-decoration:none;
    }

  /* creates hover effect */

 li a:hover {
        text-shadow: 2px 2px 10px white;
      
        filter: dropshadow(color=white, offx=2, offy=2);
      }

    
     @media screen and (max-width: 600px) {
            nav ul{ 
              width: 50%;
            }
      }

    @media screen and (max-width: 300px) {
        nav ul{ 
          width: 25%;
        }
  }

  /*.spacing{
      margin-top: 5rem;
  }
  */

  .header1{
    width:100%;
    height: 200px;
    opacity:0.5;
    background-color: var(--main); 
}

h2{
  font-weight: 100;
  margin-right:3rem;
  font-style: italic;
  color:var(--main);
}
.content-inline{
  display:flex;
}

#figcaption{
    position: relative;
    margin-top:-8rem; 
    text-align: center;
    color: var(--secondary);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300px;
    font-size: x-large;
  }
body {
    background-color: whitesmoke;
    border-top: black;
    border-top: 5px;
}
.leftSide{
  color:var(--secondary);
  margin-top: 8rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left:50px;
  font-weight: 100;
  margin-right:3rem;
  font-style: italic;
  font-size: xx-large;
  font-weight:400;
  border-style:solid;
  border-top:1px;
  border-left:1px;
  text-align:center;
}

.rightSide{
  text-align:left;
  margin-left:100px;
  margin-top: 9rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left:50px;
  font-weight: 100;
  margin-right:3rem;
  width:100%;
}

#js{
  border-radius: 25px;
  justify-content: space-between;
  left:3.5rem;
  height:inherit;
}
#work-img{
  width:80%;
  cursor:pointer;
  position:relative;
  left:3.5rem;
  top:-6rem;
}


  /* creates hover effect */

 .work-img:hover {
        text-shadow: 2px 2px 10px white;
      
        filter: dropshadow(color=white, offx=2, offy=2);
      }


#my-photo{
  float:right;
  width:35%;
  height:100%;
  display:inline;
  position:relative;
  top:-10.7rem;
  right:8rem;
}


input[type=text], select, textarea {
  width: 50%;
  padding: 9px; /* Some padding */
  text-align: center; 
  border: 1px solid black ;
  border-radius: 4px; 
  margin-top: 3px; 
  margin-bottom: 16px; 
}

/* Style the submit button */
input[type=submit] {
  background-color:var(--try);
  color: var(--main);
  padding: 10px 17px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  display:block;
  margin-left:28rem;
  
}

/* Hover effect*/
input[type=submit]:hover {
  background-color: var(--main);
  color:var(--try);
  border: solid black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background: linear-gradient(90deg, #722620, #f2bc94);
  padding: 10px;
  text-align:center;
  width:80%;
  margin-left:10px;
  opacity:0.5;
  position:relative;
  left:5rem;
  top:-3rem;
 }
 .banner{ 
   margin:20px;
   padding:30px; 
  position: relative; 
  background:linear-gradient(90deg, #722620, #f2bc94);
  color: var(--try);
  text-align:center;
  left:85px;
  bottom:400px;
  width:15rem;
  height:100px;
  border-radius: 25px;
  font-family: inherit;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
 }
footer{
  height:100px;
  padding:30px;
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.fa {
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/*section{
  background: linear-gradient(45deg, #722620, #f2bc94); */


/*.about-me{
  width: 300px;
  border: 3px solid black;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
  background-color: var(--main);
  margin-top: 0rem;
  display: inline-block;
}

.vertical{
  display:flex;
}



      /*.about-me{
        width: 300px;
        border: 3px solid black;
        padding: 50px;
        margin: 20px;
        flex-grow: 1;
        border-radius: 25px;
        background-color: var(--main);
      }
      */

/*.aboutme-row{
    display:flex;
  */