
  /* :root {
        --secondary:#1f8ac0;
        --main:#104c91;
        --idk:#ffc09f;
        --try: black;
        } 
    */

/* defines colour scheme*/
:root {
    --secondary:#722620;
    --main:#f2bc94;
    --idk:#ffc09f;
    --try: black;
    }
    
    html,body {
      margin:0;
      padding:0;
      overflow-x:hidden; 
        height: 100%;
    }
  
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        padding: 0;
    }

    body {
    background-color: whitesmoke;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    /* describes header */

header {
    width: 100%;
    background: linear-gradient(90deg, #722620, #f2bc94);
    display:flex;
    height:70px;
    justify-content: space-between;
    color:var(--main);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  /* aligns h1 to left */
  
  h1 {
    text-align: left;
    margin-left: 1rem;
    margin-top:0.5rem;
    font-weight:100;
  }
 
  /* aligns links to right, flexbox and colour */
  
  .nav-bar {
    text-align: right;
    color: var(--secondary);
    font-weight: 100;
    display:flex;
    margin-top:0.9rem;  
}

  /* defins links font size, puts it to left*/
  .nav-bar li {
    display: inline;
    font-size: 1.7rem;
    margin-left: 80px;
  }
  /*hover effect over links */

  .nav-bar li a:hover {
    color:(var(--main)); 
    text-decoration:underline; 
    cursor:pointer;
}

/* changes colour of links removes underline */
.nav-bar li a {
  color: var(--secondary);
  text-decoration:none;
    }

  /* creates hover effect */

 .nav-bar li a:hover {
        text-shadow: 2px 2px 10px white;
      
        filter: dropshadow(color=white, offx=2, offy=2);
      }


  
  /*.spacing{
      margin-top: 5rem;
  }
  */

  .header1{
    width:100%;
    height: 200px;
    opacity:0.5;
    background-color: var(--main); 
}

h2{
  font-weight: 100;
  font-style: italic;
  color:var(--secondary);
}
.content-inline{
  display:flex;
}

#figcaption{
    position: relative;
    transform:translateY(-7.5rem);
    text-align: center;
    color: var(--secondary);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: x-large;
  }

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;} 
  /* Remove this if you don't want the 3D effect


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(114,38,32,0.5);
  color: black;
  padding:70px 0;
}

/* Style the back side */
.flip-card-back {
  background: gray;
  color: white;
  transform: rotateY(180deg);
}

#about-me-heading{
  text-align: center;
  border-style:solid;
  border-top:1px;
  border-left:1px;
  font-style: italic;
  margin-top: -20px;
  font-weight: 200;
  color:var(--secondary);
  padding-bottom:10px;
}

#my-work-heading{
  text-align: center;
  border-style:solid;
  border-top:1px;
  border-left:1px;
  font-style: italic;
  font-weight: 200;
  margin-top:15px;
  color:var(--secondary);
  padding-bottom:10px;
}

#contact-me-heading{
  text-align: center;
  border-style:solid;
  border-top:1px;
  border-left:1px;
  font-style: italic;
  font-weight: 200;
  margin-top:15px;
  color:var(--secondary);
  padding-bottom:10px;
}

#work-img{
  width: 100%;
  height: auto;
}
.scaling-img{
  width: 100%;
  height: auto;
}

#img-of-me{
  width: 100%;
  height: auto;
}

.centered-text{
  align-items:center;
  text-align:center;
  list-style-position: inside;
}


#password{

  border-radius: 25px;
  height:500px;
  width:40%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  margin-top:2rem;
  filter: grayscale(90%)
} 

#password:hover {
  box-shadow: 2px 2px 10px white;
  filter:none;
  text-decoration: none;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 9px;
  text-align: center; 
  border: 1px solid black ;
  border-radius: 4px; 
  margin-top: 3px; 
  margin-bottom: 16px; 
}

.rightSide{
  text-align:left;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  width:100%;
  margin-top:5rem;
}

.email{
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
} 

/* Style the submit button */
input[type=submit] {
  background-color:var(--try);
  color: var(--main);
  padding: 10px 17px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  display:block;
  margin-left:47%;
  
} 

/* Hover effect*/
 input[type=submit]:hover {
  background-color: var(--main);
  color:var(--try);
  border: solid black;
} 

/* Add a background color and some padding around the form */
 .container-form {
  border-radius: 5px;
  background: linear-gradient(90deg, #722620, #f2bc94);
  text-align:center;
  opacity:0.5;
  position:relative;
 }
 footer{
  height:100px;
  padding:30px;
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}




@media screen and (max-width: 800px) {
  .nav-bar li {
    flex-direction:row;
  }
}

/* @media screen and (max-width: 800px) {
  header {
    height:8rem;
  }
} */

@media screen and (max-width: 850px) {
  header {
    height:7rem;
  }

@media screen and (max-width: 650px) {
 .nav-bar {
   flex-direction:column;
  }
}}
@media screen and (max-width: 650px) {
  header{
    height:10rem;
   }
 }
@media screen and (max-width: 600px) {
  .nav-bar li {
    padding-right:2rem;
   }
 }

 @media screen and (max-width: 550px) {
  header {
    height:11rem;
  }}









/* 
.leftSide{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: xx-large;
  border-style:solid;s
  border-top:1px;
  border-left:1px;
  text-align:center;
} */
/* body {
    background-color: whitesmoke;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leftSide{
  color:var(--secondary);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: xx-large;
  border-style:solid;
  border-top:1px;
  border-left:1px;
  text-align:center;
  margin:0 3rem;
}


#js{
  border-radius: 25px;
  height:350px;
  width:40%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  margin-top:2rem;
  filter: grayscale(50%);
}

#js:hover {
  box-shadow: 2px 2px 10px white;
  filter:none;
}

#work-img{
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(80%);
}
 */

  /* creates hover effect */

 /* #work-img:hover {

        filter: none;
      }



    

#password{
  
  border-radius: 25px;
  height:500px;
  width:40%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  margin-top:2rem;
  filter: grayscale(90%)
} 

#password:hover {
  box-shadow: 2px 2px 10px white;
  filter:none;
  text-decoration: none;
}



input[type=text], select, textarea {
  width: 50%;
  padding: 9px;
  text-align: center; 
  border: 1px solid black ;
  border-radius: 4px; 
  margin-top: 3px; 
  margin-bottom: 16px; 
}

.rightSide{
  text-align:left;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  width:100%;
  margin-top:5rem;
}

.email{
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
} */

/* Style the submit button */
/* input[type=submit] {
  background-color:var(--try);
  color: var(--main);
  padding: 10px 17px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  display:block;
  margin-left:47%;
  
} */

/* Hover effect*/
/* input[type=submit]:hover {
  background-color: var(--main);
  color:var(--try);
  border: solid black;
} */

/* Add a background color and some padding around the form */
/* .container {
  border-radius: 5px;
  background: linear-gradient(90deg, #722620, #f2bc94);
  padding: 8px;
  text-align:center;
  width:80%;
  margin-left:70px;
  opacity:0.5;
  position:relative;
  left:5rem;
  top:-2rem;
 }
 .banner{  
   margin-top: 0.5rem;
  background:linear-gradient(90deg, #722620, #f2bc94);
  color: var(--try);
  text-align:center;
  padding: 0.5rem;
  font-family: inherit;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  text-decoration: none;
 }

 .jsbanner{
   margin-top: 0.5rem;
 background:linear-gradient(90deg, #722620, #f2bc94);
 color: var(--try);
 padding: 0.5rem;
 text-align:center;
 font-family: inherit;
 font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 350;
 text-decoration: none;
 }

 .pwbanner{
  margin-top: 0.5rem;
  background:linear-gradient(90deg, #722620, #f2bc94);
  color: var(--try);
  padding: 0.5rem;
  text-align:center;
  font-family: inherit;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  text-decoration: none;
 }

footer{
  height:100px;
  padding:30px;
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.fa {
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.section-content{
  display:flex;
  margin:0 5rem;
  margin-top:3rem;
  line-height: 1.7rem;;
}

section{
  margin-bottom:2rem;
}

.work-content {
  margin:0 3rem;
  margin-top:2rem;
} */

 

/* Large smartphones - navbar changes color */

/* @media screen and (max-width: 900px) {
  #my-photo {
    width:19rem;
    height:12rem;
  }
}

@media screen and (max-width: 900px) {
  #js {
    width:19rem;
    height:12rem;
  }
}

@media screen and (max-width: 800px) {
  li {
    flex-direction:row;
  }
}

@media screen and (max-width: 800px) {
  header {
    height:7rem;
  }
}
@media screen and (max-width: 700px) {
  header {
   height:9rem;
}
}
@media screen and (max-width: 700px) {
  ul {
   flex-direction:column;
  }
}
@media screen and (max-width: 650px) {
  #my-photo {
    width:15rem;
    height:10rem;
  }

}  */


/*section{
  background: linear-gradient(45deg, #722620, #f2bc94); */


/*.about-me{
  width: 300px;
  border: 3px solid black;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
  background-color: var(--main);
  margin-top: 0rem;
  display: inline-block;
}

.vertical{
  display:flex;
}



      /*.about-me{
        width: 300px;
        border: 3px solid black;
        padding: 50px;
        margin: 20px;
        flex-grow: 1;
        border-radius: 25px;
        background-color: var(--main);
      }
      */

/*.aboutme-row{
    display:flex;
  *